{% extends 'main.html' %}

{% block content %}

<div class="container">
        <h1>โปรดส่งใครมารักฉันที</h1>    
        
        <ul style="color:blueviolet;list-style-type:none;">
            <li>ส่งเรื่องราวของคุณมา แล้วเราจะติดต่อกลับไป</li>
        </ul>
            <input type="text" class="form-control" placeholder="ข้อความที่จะฝากไว้ให้เทอ">
            <input type="text" class="form-control" placeholder="บอกชื่อเทอกับฉัน">
            <button class="btn btn-primary mt-2" id="btnSendMsg" >ส่ง</button>
        
    
</div>

{% endblock %}